.mainDiv {
	padding: 0;
	margin: 0;
}
.card {
	background: #29292950;
	margin-bottom: 20px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	margin-right: 10px;
}
.leftDiv {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(255, 251, 0, 0);
	height: 180px;
}
.img {
	background-color: rgba(0, 255, 255, 0);
	height: 130px;
	width: 150px;
	border-radius: 20px;
	margin: 0 20px;
}
.rightDiv {
	background-color: rgba(0, 0, 255, 0);
	height: 180px;
	width: 100%;
	margin-right: 20px;
	padding: 10px 0;
}
.btnDiv {
	background-color: rgba(137, 43, 226, 0);
	height: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.titleDiv {
	background-color: rgba(226, 95, 43, 0);
	height: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.descriptDiv {
	background-color: rgba(49, 226, 43, 0);
	height: 70px;
	width: 100%;
}
.footerDiv {
	background-color: rgba(226, 43, 211, 0);
	height: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
@media (max-width: 768px) {
	.card {
		margin-right: 0px;
	}
}
@media (max-width: 400px) {
	.img {
		width: 80px;
	}
}
@media (max-width: 320px) {
	.img {
		width: 50px;
	}
}
