.transparent-area {
  margin-bottom: 35px;
  left: -10px;
  position: absolute;
}
.customBack-btnDiv {
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 10%;
  border-radius: 20px;
  height: 35px;
  width: 35px;
  margin: 0;
  padding: 0;
}
.customBack-btn {
  background: transparent;
  border: none;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}
.customBack-btnDiv:hover {
  transition: 0.8s;
  opacity: 75%;
}
@media (max-width: 768px) {
  .transparent-area {
    margin-bottom: 35px;
  }
  .customBack-btnDiv {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 25%;
    border-radius: 20px;
    height: 35px;
    width: 35px;
    margin: 0;
    padding: 0;
  }
  .customBack-btn {
    background: transparent;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
  }
  .customBack-btnDiv:hover {
    transition: 0.8s;
    opacity: 75%;
  }
}
