.mainDiv {
	padding: 0;
	margin: 0;
	margin-top: 50px;
}
.pagiDiv {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 20px;
}
.pageNo {
	background-color: #ecf0fb;
	padding: 0 20px;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 500;
	color: #0d1220;
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
}
.pagePrev {
	background-color: #ecf0fb;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	border-radius: 10px;
	margin-right: 20px;
	font-size: 20px;
	cursor: pointer;
}
.pageNext {
	background-color: #ecf0fb;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
}
