.mainDiv {
	padding: 0;
	margin: 0;
}
.pageTitle {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
	color: #0d1220;
}
.table {
	background-color: #f6f8ff;
	color: #0d1220;
	width: 100%;
	border-radius: 10px;
	padding-bottom: 10px;
}
.hDevider {
	height: 1px;
	width: 100%;
	background-color: #494d5850;
}
