.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ----------- The comment feed stylings ----------- */
.Home-Comment-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  
}

.Comment-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  height: 650px;
}

.Comment-card {
  padding: 5px;
  box-sizing: border-box;
  text-align: left;
  border-width: 1px;
  border-radius: 3px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.Comment-card:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
