.mainDiv {
  padding: 0;
  margin: 0;
}
.bar {
  background-color: rgba(220, 20, 60, 0);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
}
.tickBox {
  background-color: rgba(56, 175, 211, 0);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  width: 35px;
}
.chekBox {
  color: #0092d000;
}
.infoDiv {
  background-color: rgba(216, 96, 96, 0);
  width: 100%;
  display: flex;
}
.nameDiv {
  background-color: #13192400;
  width: 30%;
  height: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #aeaeae;
  font-size: 16px;
  font-weight: 500;
}
.leftDiv {
  display: flex;
  align-items: center;
}
.img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.detailsDiv {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name {
  font-size: 18px;
  color: #eaeaea;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.email {
  font-size: 12px;
  color: #aeaeae;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.rightDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.indecator {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #20a500;
}
.siteRoleDiv {
  background-color: rgba(30, 210, 171, 0);
  height: 50px;
  width: 40%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: #aeaeae;
  font-size: 16px;
  font-weight: 500;
}
.roleBtn {
  padding: 3px 10px;
  background-color: #131924;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 10px;
  color: #eaeaea;
}
.actionsDiv {
  background-color: #13192400;
  width: 30%;
  height: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: #aeaeae;
  font-size: 16px;
  font-weight: 500;
}
.resetPswrdDiv {
  display: flex;
  align-items: center;
  color: #eaeaea;
  margin-right: 20px;
  height: 50px;
}
.dltDiv {
  display: flex;
  align-items: center;
  color: #eaeaea;
  margin-right: 20px;
  height: 50px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.hDevider {
  height: 1px;
  width: 100%;
  background-color: #aeaeae50;
}
