.bottum-div {
  height: 160px;
  width: 100%;
}
.bottum-left-div {
  height: 100%;
  background-color: #181f36;
  border-radius: 10px;
  padding: 15px;
}
.bottum-left {
  height: 100%;
}
.bottum-left-text-div {
  height: 100%;
}
.sensing-title {
  height: 30px;
  width: 100%;
  font-size: 16px;
  color: #eaeaea;
  font-weight: 600;
}
.desc-title {
  width: 100%;
  height: 20px;
  font-size: 11px;
  color: #aeaeae;
  font-weight: 700;
}
.bottum-left-img-div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.car-img-div {
  width: 110px;
  height: 110px;
  border-radius: 60px;
  border: 5px solid #0091d0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.car-img {
  width: 100%;
  height: 100%;
  border-radius: 60px;
  border: 3px solid #ffda00;
}
.bottum-right {
  height: 100%;
  background-color: #131924;
  border-radius: 10px;
}
.bottum-right-text-div {
  height: 100%;
}
.sensor-title {
  height: 30px;
  width: 100%;
  font-size: 12px;
  color: #aeaeae;
  font-weight: 700;
}
.sensor-no {
  width: 100%;
  font-size: 10px;
  color: #eaeaea;
  font-weight: 400;
}
.mini-title {
  font-size: 10px;
  font-weight: 700;
  color: #aeaeae;
}
.mini-value {
  font-size: 10px;
  font-weight: 700;
  color: #eaeaea;
}
.sensor-desc {
  width: 100%;
  font-size: 10px;
  color: #eaeaea;
  font-weight: 400;
}
.bottum-right-img-div {
  height: 100%;
}
.sensor-img-div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 5px solid #0091d0;
}
.sensor-img {
  width: 100%;
  height: 100%;
}
.bottum-right-div {
  height: 100%;
}
.historic-div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.historic {
  height: 100%;
  width: 96%;
  background-color: #181f36;
  border-radius: 10px;
  padding: 10px 5px;
  text-align: center;
}
.historic-title {
  width: 100%;
  height: 30%;
  color: #eaeaea;
  font-weight: bold;
  font-family: Roboto;
}
.historic-icon {
  width: 100%;
  height: 70%;
  color: #1668af;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
}
.heat-div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.heat {
  height: 100%;
  width: 96%;
  background-color: #181f36;
  border-radius: 10px;
  padding: 10px 5px;
  text-align: center;
}
.time-div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.time {
  height: 100%;
  width: 96%;
  background-color: #181f36;
  border-radius: 10px;
  padding: 10px 5px;
  text-align: center;
}
.analysis-div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.analysis {
  height: 100%;
  width: 96%;
  background-color: #181f36;
  border-radius: 10px;
  padding: 10px 5px;
  text-align: center;
}
