.main-div {
  width: 100%;
  height: 100%;
}
.wind-img-div {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  background-color: #f6f8ff;
}
.text-div {
  width: 100%;
  margin-bottom: 10px;
  color: #0d1220;
}
.blue-text {
  color: #0091d0;
}
