.form{
	display:flex;
	flex-direction: column;
}
.signin {
	text-align: center;
	font-family: Montserrat;
	color: rgb(255, 255, 255);
	background: #33b18a;
	height: 40px;
	font-weight: 400;
	text-decoration: none;
	border: none;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	cursor: pointer;
	border-radius: 10px;
	width: 100% !important;
	margin: 2px;
	padding: 1px;
	margin-left: 0px;
	margin-top: 30px;
}

.signinDisable {
	text-align: center;
	font-family: Montserrat;
	color: rgb(255, 255, 255);
	background: #c9c9c9;
	height: 40px;
	font-weight: 400;
	text-decoration: none;
	border: none;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	cursor: pointer;
	border-radius: 10px;
	width: 100% !important;
	margin: 2px;
	padding: 1px;
	margin-left: 0px;
	margin-top: 30px;
}
.signin:hover {
	background-image: linear-gradient(135deg, #3ecb78, #35d09f);
}

.input-group {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 15px;
	background-color: #2e303e;

	padding-left: 25px;
	border-radius: 6px;
}

.form-group {
	position: relative;
	margin: 0 auto;
	text-align: center;
}
.forgotpasswordtext {
	color: #33b18a;
	margin: 2px;
	padding: 2px;
	font-size: 12px;
	margin-top: 10px;
	/* text-align: right; */
	align-self: flex-end;
	font-family: Montserrat;
	color: #33b18a;
	
	background:black;

	font-weight: 400;
	text-decoration: none;
	border: none;
	
	cursor: pointer;


}
.input-group-addon {
	background: #2e303e;

	margin-top: 2px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 7px;
	border-radius: 0px 6px 6px 0px;
}

.form-control {
	outline: 0;
	border-width: 0;
	color: #707070;
	font-size: 14px;
	padding: 3px;
	background-color: #2e303e;
	width: 100%;
}

.errors {
	font-size: 12px;
	color: rgb(184, 63, 63);
	font-weight: 600;
}
